* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
#root {
    height: 100%;
    width: 100%;
    padding: 10px;
    position: absolute;
}

.app {
    padding: 10px 0;
    max-height: 100%;
}

.class-file-box {
    flex: 1;
    overflow: auto;
    max-width: 888px;
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
}

.panel {
    padding-bottom: 10px;
}

.constant-item {
    padding: 0 5px;
}

#file-select {
    display: none;
}

.panel > .button {
    margin: 0 5px;
}

.constant-anchor {
    padding: 0 5px 0 0;
    display: flex;
    flex-direction: row;
}

@media (min-width: 667px) {
    .class-file-box {
        overflow: hidden auto;
    }

    .constant-tag {
        min-width: 140px;
    }
}
@media (max-width: 666px) {
    .constant-item {
        flex-wrap: wrap;
    }

    .constant-tag {
        margin-right: 10px;
    }
    .constant-desc {
        min-width: 200px;
    }
    .bytecode {
        flex-wrap: wrap;
    }
}
