* {
  font-family: monospace;
  word-break: break-all;
}

body {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-variant: tabular-nums;
  line-height: 1.5;
  padding-bottom: 1000px;
}


ul {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
}
.constant-item {
  display: flex;
  flex-direction: row;
}
.constant-anchor {
  margin: 0 5px;
  min-width: 30px;
}

.constant-anchor-list {
  min-width: 100px;
}

.constant-tag {
  min-width: 200px;
}

.bytecode, .switch {
  display: flex;
  flex-direction: row;
}
.bytecode-offset, .constant-index {
  width: 40px;
  margin-right: 10px;
}
.switch-tag {
  min-width: 70px;
  text-align: right;
  margin-right: 10px;
}
/*.opcode-name {*/
/*  min-width: 110px;*/
/*}*/
/*.local-index, .operand-value {*/
/*  margin: 0 5px;*/
/*}*/

.constant-desc {
  color: gray;
}

.gray {
  color: gray;
}

a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/*.bytecode-tableswitch {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: flex-end;*/
/*}*/
